<html>
<head>
  <style>
  .box{
  height: 100px;
  width: 100px;
  font-family:Helvetica;
  background:rgba(0,0,0,0.13);
  border-style: solid;
  border-color: #00000;
  border-radius: 10px;
}
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/cover/cover.css"></link>
</head>
<body>
<div class="container">
  <div class="masthead-brand center"><h1>Bloomington Transit Live Dashboard</h1></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="box">

        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          sd
        </div>
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2"></div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>
